* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #5C258D;  
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  
  background: linear-gradient(to right, #4389A2, #5C258D); 
  
  
  

  

}